<%- contentFor('html_attribute') %>

<%- contentFor('body_attribute') %>

<%- contentFor('extra_css') %>

<%- contentFor('content') %>
  <%- include('partials/header/navbar5') %>

  <!-- ===== HERO AREA STARTS ======= -->
  <div class="hero5-slider-section">
    <div class="hero5-section-area" style="background-image: url(/img/all-images/hero/hero-img-01.webp); background-position: center; background-repeat: no-repeat; background-size: cover;">
      <img src="/img/all-images/bg/bg6.png" alt="" class="bg6" />
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="hero5-heading">
              <h5 data-aos="fade-left" data-aos-duration="800">Produk Lokal, Kualitas Nasional</h5>
              <div class="space18"></div>
              <h1 class="text-anime-style-3">Mengangkat Kekayaan Rasa & Tradisi Nusantara</h1>
              <div class="space14"></div>
              <p data-aos="fade-left" data-aos-duration="900">PT Produk Pemuda Santara berkomitmen menghadirkan produk berkualitas berbahan dasar lokal dengan semangat pemberdayaan pemuda Indonesia.</p>
              <div class="space24"></div>
              <div class="btn-area1" data-aos="fade-left" data-aos-duration="1000">
                <a href="/produk" class="vl-btn5"><span class="text">Lihat Produk Kami</span><span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
              </div>
            </div>
          </div>
          <div class="col-lg-1"></div>
          
        </div>
      </div>
    </div>

    <div class="hero5-section-area" style="background-image: url(/img/all-images/hero/hero-img-03.webp); background-position: center; background-repeat: no-repeat; background-size: cover;">
      <img src="/img/all-images/bg/bg6.png" alt="" class="bg6" />
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="hero5-heading">
              <h5>Pemberdayaan Pemuda Indonesia</h5>
              <div class="space18"></div>
              <h1>Cita Rasa Tradisional dengan Kemasan Modern</h1>
              <div class="space14"></div>
              <p>Minuman Asem Jawa dan Gula Jawa berkualitas tinggi, diolah secara higienis untuk memenuhi kebutuhan kuliner Anda.</p>
              <div class="space24"></div>
              <div class="btn-area1">
                <a href="/produk" class="vl-btn5"><span class="text">Lihat Produk Kami</span><span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
              </div>
            </div>
          </div>
          <div class="col-lg-1"></div>
          
        </div>
      </div>
    </div>

    <div class="hero5-section-area" style="background-image: url(/img/all-images/hero/hero-img-02.webp); background-position: center; background-repeat: no-repeat; background-size: cover;">
      <img src="/img/all-images/bg/bg6.png" alt="" class="bg6" />
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="hero5-heading">
              <h5>Inovasi & Ekspansi Bisnis</h5>
              <div class="space18"></div>
              <h1>Berkembang Melalui Inovasi, Kualitas & Integritas</h1>
              <div class="space14"></div>
              <p>Dalam 1-2 tahun ke depan, kami akan memperluas ke produk skincare dan layanan digital sebagai bentuk diversifikasi usaha.</p>
              <div class="space24"></div>
              <div class="btn-area1">
                <a href="/profile" class="vl-btn5"><span class="text">Tentang Kami</span><span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
              </div>
            </div>
          </div>
                  </div>
      </div>
    </div>
  </div>

  <div class="testimonial-arrows">
    <div class="testimonial-prev-arrow">
      <button><i class="fa-solid fa-angle-left"></i></button>
    </div>
    <div class="testimonial-next-arrow">
      <button><i class="fa-solid fa-angle-right"></i></button>
    </div>
  </div>
  <!-- ===== HERO AREA ENDS ======= -->

  <!-- ===== ABOUT AREA STARTS ======= -->
  <div class="about5-section-area sp1">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1000">
              <div class="img1">
                <img src="/img/all-images/about/about-img13.png" alt="" />
              </div>
            </div>

            <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1100">
              <div class="space60 d-lg-block d-none"></div>
              <div class="img1">
                <img src="/img/all-images/about/about-img12.png" alt="" />
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="about-header heading5">
            <h5 data-aos="fade-left" data-aos-duration="800">Tentang Kami</h5>
            <div class="space16"></div>
            <h2 class="text-anime-style-3">Menghadirkan Produk Berkualitas dengan Semangat Pemuda</h2>
            <div class="space16"></div>
            <p data-aos="fade-left" data-aos-duration="900">PT Produk Pemuda Santara adalah perusahaan yang bergerak di bidang produksi dan jual beli berbagai jenis produk, dengan fokus awal pada makanan dan minuman berbahan dasar lokal. Berdiri dengan semangat pemberdayaan pemuda Indonesia, kami berkomitmen mengangkat kekayaan rasa dan tradisi Nusantara.</p>
            <div class="space32"></div>
            <div class="btn-area1" data-aos="fade-left" data-aos-duration="1000">
              <a href="/profile" class="vl-btn5"><span class="text">Selengkapnya</span><span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
            </div>
          </div>
          <div class="space48"></div>
          <div class="counter-box">
            <div class="boxarea">
              <h3><span class="counter">2</span>+</h3>
              <div class="space20"></div>
              <p>Produk Utama</p>
            </div>

            <div class="boxarea">
              <h3><span class="counter">100</span>%</h3>
              <div class="space20"></div>
              <p>Bahan Lokal</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== ABOUT AREA ENDS ======= -->


  <!-- ===== WORK AREA STARTS ======= -->
  <div class="work5-section-area sp2">
    <div class="container">
      <div class="row">
        <div class="col-lgg-6 m-auto">
          <div class="heading5 text-center space-margin60">
            <h5>Komitmen Kami</h5>
            <div class="space16"></div>
            <h2 class="text-anime-style-3">Nilai-Nilai Perusahaan</h2>
          </div>
          <div class="space20"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="800">
          <div class="work-single-boxarea">
            <img src="/img/elements/elements37.png" alt="" class="elements12" />
            <div class="icons">
              <img src="/img/elements/elements39.png" alt="" class="elements14" />
              <div class="icon">
                <img src="/img/icons/work-icon4.svg" alt="" />
              </div>
            </div>
            <div class="space48"></div>
            <div class="conten-area">
              <a href="/profile">Inovasi</a>
              <div class="space16"></div>
              <p>Terus menghadirkan ide baru dan solusi kreatif berbasis warisan Nusantara, menjadikan tradisi relevan untuk gaya hidup modern dan pasar global.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="900">
          <div class="work-single-boxarea">
            <img src="/img/elements/elements38.png" alt="" class="elements13" />
            <div class="icons">
              <img src="/img/elements/elements39.png" alt="" class="elements14" />
              <div class="icon">
                <img src="/img/icons/work-icon5.svg" alt="" />
              </div>
            </div>
            <div class="space48"></div>
            <div class="conten-area">
              <a href="/profile">Kualitas</a>
              <div class="space16"></div>
              <p>Mengutamakan bahan baku terbaik dan proses produksi yang higienis untuk menghasilkan produk berkualitas tinggi.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="1000">
          <div class="work-single-boxarea">
            <div class="icons">
              <img src="/img/elements/elements39.png" alt="" class="elements14" />
              <div class="icon">
                <img src="/img/icons/work-icon6.svg" alt="" />
              </div>
            </div>
            <div class="space48"></div>
            <div class="conten-area">
              <a href="/profile">Integritas</a>
              <div class="space16"></div>
              <p>Menjalankan bisnis dengan kejujuran dan tanggung jawab, serta berkomitmen pada pemberdayaan pemuda Indonesia.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== WORK AREA ENDS ======= -->

  <!-- ===== HISTORY AREA STARTS ======= -->
  <div class="project5-section-area sp1">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 m-auto">
          <div class="heading5 text-center space-margin60">
            <h5 data-aos="fade-up" data-aos-duration="800">Sejarah Kami</h5>
            <div class="space16"></div>
            <h2 class="text-anime-style-3">Sejarah Produk Pemuda Santara</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 m-auto">
          <div class="history-content" data-aos="fade-up" data-aos-duration="1000">
            <p style="text-align: justify; margin-bottom: 20px; color: #fff;">Produk Pemuda Santara lahir pada tahun 2025 di Jakarta, Indonesia, berangkat dari keresahan dan mimpi enam pemuda Nusantara yang percaya bahwa kekayaan alam Indonesia seharusnya menjadi tuan rumah di negeri sendiri.</p>
            
            <p style="text-align: justify; margin-bottom: 20px; color: #fff;">Berawal dari momen sederhana, kumpul, berdiskusi, dan saling berbagi keresahan kami melihat satu ironi besar: Indonesia memiliki bahan baku luar biasa di bidang pangan, kesehatan, dan kecantikan, namun potensinya sering dikesampingkan. Banyak orang memilih jalan instan, mengorbankan kualitas, kesehatan, dan nilai budaya.</p>
            
            <p style="text-align: justify; margin-bottom: 20px; color: #fff;">Dari sana, Produk Pemuda Santara hadir dengan satu tekad: menghadirkan produk berbahan baku asli Indonesia, berkualitas tinggi, tanpa pengawet berbahaya, dan mendukung pola hidup sehat, sekaligus membuka lapangan pekerjaan bagi masyarakat.</p>
            
            <p style="text-align: justify; margin-bottom: 20px; color: #fff;">Langkah pertama kami dimulai dari sektor Food & Beverage (FnB) melalui produk minuman heritage seperti asem jawa dan gula jawa, yang terinspirasi dari tradisi jamu Nusantara. Bagi kami, ini bukan sekadar produk, melainkan upaya menghidupkan kembali warisan yang nyaris terlupakan dikemas secara modern, relevan, dan bertanggung jawab.</p>
            
            <p style="text-align: justify; margin-bottom: 20px; color: #fff;">Melihat respons pasar dan potensi yang besar, Produk Pemuda Santara terus melangkah maju. Pada tahun pertama, kami menargetkan ekspansi ke makanan ringan heritage seperti keripik sukun serta pengembangan varian minuman tradisional lainnya. Ke depan, kami bercita-cita memperluas ekosistem bisnis ke dunia kecantikan berbasis rimpang asli Indonesia, serta menjadikan brand kami bagian dari gerakan gastropolitical dan beautypolitical Indonesia di kancah global.</p>
            
            <p style="text-align: justify; color: #fff;">Sebagai sebuah startup, fokus kami saat ini adalah membangun fondasi kuat di sektor FnB. Dalam lima tahun pertama, Produk Pemuda Santara menargetkan pertumbuhan berkelanjutan hingga melangkah ke IPO, membawa produk lokal Indonesia menjadi kebanggaan nasional dan pemain global.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== HISTORY AREA ENDS ======= -->


  <!-- ===== FAQ AREA STARTS ======= -->
  <div class="faq5-section-area sp1">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 m-auto">
          <div class="heading5 text-center space-margin60">
            <h5>Pertanyaan Umum</h5>
            <div class="space16"></div>
            <h2 class="text-anime-style-3">FAQ Seputar Produk Kami</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 m-auto">
          <div class="accordion-area">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item" data-aos="fade-left" data-aos-duration="700">
                <h2 class="accordion-header"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Apa saja produk yang ditawarkan PT Produk Pemuda Santara?</button></h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>Saat ini kami memproduksi dua produk utama yaitu Minuman Asem Jawa dan Gula Jawa. Kami juga sedang mengembangkan produk keripik sebagai ekspansi ke kategori makanan ringan.</p>
                  </div>
                </div>
              </div>
              <div class="space20"></div>
              <div class="accordion-item" data-aos="fade-left" data-aos-duration="800">
                <h2 class="accordion-header"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Apakah produk menggunakan bahan lokal?</button></h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>Ya, semua produk kami menggunakan bahan baku lokal berkualitas tinggi. Kami berkomitmen mengangkat kekayaan rasa dan tradisi Nusantara melalui produk-produk kami.</p>
                  </div>
                </div>
              </div>
              <div class="space20"></div>
              <div class="accordion-item" data-aos="fade-left" data-aos-duration="900">
                <h2 class="accordion-header"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Bagaimana cara memesan produk?</button></h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>Anda dapat menghubungi kami melalui tombol kontak yang terletak di bawah kanan pada web kami.</p>
                  </div>
                </div>
              </div>
              <div class="space20"></div>
              <div class="accordion-item" data-aos="fade-left" data-aos-duration="1000">
                <h2 class="accordion-header"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Apakah tersedia untuk pembelian grosir?</button></h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>Ya, kami melayani pembelian grosir untuk reseller, toko, dan bisnis kuliner. Hubungi kami untuk informasi harga khusus dan minimum order.</p>
                  </div>
                </div>
              </div>
              <div class="space20"></div>
              <div class="accordion-item" data-aos="fade-left" data-aos-duration="1100">
                <h2 class="accordion-header"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Apa rencana pengembangan perusahaan ke depan?</button></h2>
                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>Dalam 1-2 tahun ke depan, kami berencana memperluas ke produk skincare dan jasa pembuatan aplikasi & layanan digital sebagai bentuk diversifikasi usaha.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== FAQ AREA ENDS ======= -->

<%- contentFor('extra_css') %>
<style>
/* Hide slider arrows on mobile */
@media (max-width: 768px) {
  .testimonial-arrows {
    display: none !important;
  }
}
</style>

<%- contentFor('extra_javascript') %>
