<%- contentFor('html_attribute') %>

<%- contentFor('body_attribute') %>

<%- contentFor('extra_css') %>

<%- contentFor('content') %>
  <!-- ===== HERO AREA STARTS ======= -->
  <div class="inner-pages-section-area" style="background-image: url(/img/all-images/bg/hero-bg1.png); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 m-auto">
          <div class="inner-header text-center">
            <h2>Proyek Kami</h2>
            <div class="space24"></div>
            <a href="/">Beranda <i class="fa-solid fa-angle-right"></i> <span>Proyek Kami</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== HERO AREA ENDS ======= -->

  <!-- ===== PROJECT AREA STARTS ======= -->
  <div class="project-inner-section-area sp1">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="800">
          <div class="project-single-boxarea2">
            <div class="img1 image-anime">
              <img src="/img/all-images/project/project-img17.png" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content-area">
              <div class="text">
                <a href="#">#Business And Finance</a>
                <div class="space16"></div>
                <a href="project-single">Future Forward Pioneering New Frontiers</a>
              </div>
              <div class="arrow">
                <a href="project-single">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                    <path d="M9.33398 22.6644L22.6673 9.33105M22.6673 9.33105H10.6673M22.6673 9.33105V21.3311" stroke="#6E9419" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000">
          <div class="project-single-boxarea2">
            <div class="img1 image-anime">
              <img src="/img/all-images/project/project-img18.png" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content-area">
              <div class="text">
                <a href="#">#Business And Finance</a>
                <div class="space16"></div>
                <a href="project-single">Project Titan: Building Financial Resilience</a>
              </div>
              <div class="arrow">
                <a href="project-single">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                    <path d="M9.33398 22.6644L22.6673 9.33105M22.6673 9.33105H10.6673M22.6673 9.33105V21.3311" stroke="#6E9419" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200">
          <div class="project-single-boxarea2">
            <div class="img1 image-anime">
              <img src="/img/all-images/project/project-img19.png" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content-area">
              <div class="text">
                <a href="#">#Business And Finance</a>
                <div class="space16"></div>
                <a href="project-single">Project Ascend: Elevating Business Potential</a>
              </div>
              <div class="arrow">
                <a href="project-single">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                    <path d="M9.33398 22.6644L22.6673 9.33105M22.6673 9.33105H10.6673M22.6673 9.33105V21.3311" stroke="#6E9419" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000">
          <div class="project-single-boxarea2 box2">
            <div class="img1 image-anime">
              <img src="/img/all-images/project/project-img20.png" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content-area">
              <div class="text">
                <a href="#">#Business And Finance</a>
                <div class="space16"></div>
                <a href="project-single">The Catalyst Initiative: Driving Innovation</a>
              </div>
              <div class="arrow">
                <a href="project-single">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                    <path d="M9.33398 22.6644L22.6673 9.33105M22.6673 9.33105H10.6673M22.6673 9.33105V21.3311" stroke="#6E9419" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1100">
          <div class="project-single-boxarea2">
            <div class="img1 image-anime">
              <img src="/img/all-images/project/project-img21.png" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content-area">
              <div class="text">
                <a href="#">#Business And Finance</a>
                <div class="space16"></div>
                <a href="project-single">Empowerment Project: Financial Freedom for All</a>
              </div>
              <div class="arrow">
                <a href="project-single">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                    <path d="M9.33398 22.6644L22.6673 9.33105M22.6673 9.33105H10.6673M22.6673 9.33105V21.3311" stroke="#6E9419" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200">
          <div class="project-single-boxarea2 box3">
            <div class="img1 image-anime">
              <img src="/img/all-images/project/project-img22.png" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content-area">
              <div class="text">
                <a href="#">#Business And Finance</a>
                <div class="space16"></div>
                <a href="project-single">360 Comprehensive Business Solutions</a>
              </div>
              <div class="arrow">
                <a href="project-single">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                    <path d="M9.33398 22.6644L22.6673 9.33105M22.6673 9.33105H10.6673M22.6673 9.33105V21.3311" stroke="#6E9419" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000">
          <div class="project-single-boxarea2 box2">
            <div class="img1 image-anime">
              <img src="/img/all-images/project/project-img25.png" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content-area">
              <div class="text">
                <a href="#">#Business And Finance</a>
                <div class="space16"></div>
                <a href="project-single">Risk Management And Mitigation Initiative</a>
              </div>
              <div class="arrow">
                <a href="project-single">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                    <path d="M9.33398 22.6644L22.6673 9.33105M22.6673 9.33105H10.6673M22.6673 9.33105V21.3311" stroke="#6E9419" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1100">
          <div class="project-single-boxarea2">
            <div class="img1 image-anime">
              <img src="/img/all-images/project/project-img23.png" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content-area">
              <div class="text">
                <a href="#">#Business And Finance</a>
                <div class="space16"></div>
                <a href="project-single">Sustainable Business Growth Strategy</a>
              </div>
              <div class="arrow">
                <a href="project-single">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                    <path d="M9.33398 22.6644L22.6673 9.33105M22.6673 9.33105H10.6673M22.6673 9.33105V21.3311" stroke="#6E9419" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200">
          <div class="project-single-boxarea2 box4">
            <div class="img1 image-anime">
              <img src="/img/all-images/project/project-img24.png" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content-area">
              <div class="text">
                <a href="#">#Business And Finance</a>
                <div class="space16"></div>
                <a href="project-single">Mergers & Acquisitions Success Stories</a>
              </div>
              <div class="arrow">
                <a href="project-single">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                    <path d="M9.33398 22.6644L22.6673 9.33105M22.6673 9.33105H10.6673M22.6673 9.33105V21.3311" stroke="#6E9419" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="space18"></div>
          <div class="pagination-area">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous"><i class="fa-solid fa-angle-left"></i></a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">...</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">12</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next"><i class="fa-solid fa-angle-right"></i></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== PROJECT AREA ENDS ======= -->
<%- contentFor('extra_javascript') %>
