<%- contentFor('html_attribute') %>

<%- contentFor('body_attribute') %>

<%- contentFor('extra_css') %>

<%- contentFor('content') %>
  <!-- ===== HERO AREA STARTS ======= -->
  <div class="inner-pages-section-area" style="background-image: url(/img/all-images/bg/hero-bg1.png); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 m-auto">
          <div class="inner-header text-center">
            <h2>Layanan Kami</h2>
            <div class="space24"></div>
            <a href="/">Beranda <i class="fa-solid fa-angle-right"></i> <span>Layanan</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== HERO AREA ENDS ======= -->

  <!-- ===== SERVICE AREA STARTS ======= -->
  <div class="service-inner-section-area sp1">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="service3-single-boxarea">
            <div class="icons">
              <img src="/img/icons/service19.svg" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content">
              <a href="service-single">Debt Restructuring Services</a>
              <div class="space16"></div>
              <p>Debt Restructuring Services designed to help businesses manage their debt more effectively, providing relief.</p>
              <div class="space24"></div>
              <a href="service-single" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="service3-single-boxarea">
            <div class="icons">
              <img src="/img/icons/service20.svg" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content">
              <a href="service-single">Financial Strategy & Advisory</a>
              <div class="space16"></div>
              <p>Financial Strategy & Advisory service is designed help businesses all sizes make informed, strategic decisions.</p>
              <div class="space24"></div>
              <a href="service-single" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="service3-single-boxarea">
            <div class="icons">
              <img src="/img/icons/service21.svg" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content">
              <a href="service-single">Tax Planning & Compliance</a>
              <div class="space16"></div>
              <p>We stay updated the latest tax laws & policies helping you navigate complex tax landscapes our personalized.</p>
              <div class="space24"></div>
              <a href="service-single" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="service3-single-boxarea">
            <div class="icons">
              <img src="/img/icons/service22.svg" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content">
              <a href="service-single">Risk Management & Mitigation</a>
              <div class="space16"></div>
              <p>Managing is key preserving business’s financial stability Risk Management & Mitigation service help you identify.</p>
              <div class="space24"></div>
              <a href="service-single" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="service3-single-boxarea">
            <div class="icons">
              <img src="/img/icons/service23.svg" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content">
              <a href="service-single">Business Growth Planning</a>
              <div class="space16"></div>
              <p>Business Growth Planning service is tailored companies sustainable, scalable growth analyze current.</p>
              <div class="space24"></div>
              <a href="service-single" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="service3-single-boxarea">
            <div class="icons">
              <img src="/img/icons/service24.svg" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content">
              <a href="service-single">Cash Flow Optimization</a>
              <div class="space16"></div>
              <p>Maintaining a healthy cash is critical business success. Cash Optimization service provides in-depth analysis.</p>
              <div class="space24"></div>
              <a href="service-single" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="service3-single-boxarea">
            <div class="icons">
              <img src="/img/icons/service25.svg" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content">
              <a href="service-single">Cash Flow Optimization</a>
              <div class="space16"></div>
              <p>With our guidance, you can navigate the complexities of the financial landscape with confidence, allowing you to focus.</p>
              <div class="space24"></div>
              <a href="service-single" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="service3-single-boxarea">
            <div class="icons">
              <img src="/img/icons/service26.svg" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content">
              <a href="service-single">Corporate Finance Advisory</a>
              <div class="space16"></div>
              <p>From optimizing cash flow to strategic budgeting & forecasting, we take a holistic approach to ensure that every financial.</p>
              <div class="space24"></div>
              <a href="service-single" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="service3-single-boxarea">
            <div class="icons">
              <img src="/img/icons/service27.svg" alt="" />
            </div>
            <div class="space24"></div>
            <div class="content">
              <a href="service-single">Investment Management</a>
              <div class="space16"></div>
              <p>Our team of experts will work closely with you to analyze your current financial Best situation, identify opportunities for growth</p>
              <div class="space24"></div>
              <a href="service-single" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="space18"></div>
          <div class="pagination-area">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous"><i class="fa-solid fa-angle-left"></i></a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">...</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">12</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next"><i class="fa-solid fa-angle-right"></i></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== SERVICE AREA ENDS ======= -->
<%- contentFor('extra_javascript') %>
