<%- contentFor('html_attribute') %>

<%- contentFor('body_attribute') %>

<%- contentFor('extra_css') %>

<%- contentFor('content') %>
  <!-- ===== HERO AREA STARTS ======= -->
  <div class="inner-pages-section-area" style="background-image: url(/img/all-images/bg/hero-bg1.png); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 m-auto">
          <div class="inner-header text-center">
            <h2>Testimoni</h2>
            <div class="space24"></div>
            <a href="/">Beranda <i class="fa-solid fa-angle-right"></i> <span>Testimoni</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== HERO AREA ENDS ======= -->

  <!-- ===== TESTIMONIAL AREA STARTS ======= -->
  <div class="testimonial-inenr-area sp1">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="testimonial2-boxarea">
            <ul>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
            </ul>
            <div class="space16"></div>
            <p>“Our clients' success is at the heart of everything we do. We pride ourselves on building long-lasting relationships and delivering results that make a real difference. One client shared.”</p>
            <div class="space20"></div>
            <div class="author-images-area">
              <div class="images">
                <div class="img1">
                  <img src="/img/all-images/testimonial/testi-img1.png" alt="" />
                </div>
                <div class="text">
                  <a href="team">Gabriel Krajcik</a>
                  <div class="space10"></div>
                  <p>Businessman</p>
                </div>
              </div>
              <div class="quoto">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="30" viewBox="0 0 36 30" fill="none">
                  <path d="M19.6837 7.17283C19.6837 9.00617 20.1628 10.5457 21.1212 11.7916C21.8003 12.6499 22.7219 13.2138 23.8857 13.4833C25.0316 13.7499 26.1149 13.7687 27.0941 13.5416C27.4274 15.5208 26.8857 17.6166 25.5107 19.8374C24.133 22.0569 22.3566 23.7256 20.1816 24.8437L23.4753 29.5833C25.142 28.7583 26.7253 27.7124 28.1837 26.4478C29.6628 25.1833 30.9753 23.7291 32.142 22.0853C33.3087 20.4416 34.1837 18.5853 34.7462 16.4812C35.3087 14.377 35.4649 12.2312 35.1962 10.0228C34.8462 7.10617 33.9045 4.77283 32.3712 3.04367C30.8392 1.29228 28.9309 0.416584 26.6462 0.416584C24.6357 0.416584 22.967 1.02075 21.6462 2.24575C20.3392 3.44575 19.6864 5.09019 19.6878 7.17908L19.6837 7.17283ZM0.675327 7.17283C0.675327 9.00617 1.1545 10.5457 2.11283 11.7916C2.79338 12.6666 3.71491 13.2339 4.87741 13.4937C6.04408 13.7506 7.11352 13.7659 8.08574 13.5395C8.41908 15.4978 7.89824 17.602 6.51908 19.8312C5.14408 22.0395 3.36908 23.7062 1.19408 24.8312L4.4795 29.5833C6.14755 28.7583 7.717 27.7131 9.18783 26.4478C10.6803 25.1644 12.0059 23.6988 13.1337 22.0853C14.292 20.4395 15.1545 18.5853 15.717 16.4812C16.2884 14.3786 16.442 12.1845 16.1691 10.0228C15.8232 7.10617 14.8857 4.77283 13.3566 3.04367C11.8288 1.30478 9.92394 0.435335 7.64199 0.435335C5.62811 0.432556 3.96005 1.04158 2.63783 2.26241C1.33088 3.46242 0.676716 5.10686 0.675327 7.19575V7.17283Z" fill="#6E9419" />
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="testimonial2-boxarea">
            <ul>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
            </ul>
            <div class="space16"></div>
            <p>“One client shared provide The strategic guidance we needed to streamline our finances and scale our business. Their personalized approach and dedication to our success set them apart.”</p>
            <div class="space20"></div>
            <div class="author-images-area">
              <div class="images">
                <div class="img1">
                  <img src="/img/all-images/testimonial/testi-img2.png" alt="" />
                </div>
                <div class="text">
                  <a href="team">Sylvia Kohler</a>
                  <div class="space10"></div>
                  <p>Freelancer</p>
                </div>
              </div>
              <div class="quoto">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="30" viewBox="0 0 36 30" fill="none">
                  <path d="M19.6837 7.17283C19.6837 9.00617 20.1628 10.5457 21.1212 11.7916C21.8003 12.6499 22.7219 13.2138 23.8857 13.4833C25.0316 13.7499 26.1149 13.7687 27.0941 13.5416C27.4274 15.5208 26.8857 17.6166 25.5107 19.8374C24.133 22.0569 22.3566 23.7256 20.1816 24.8437L23.4753 29.5833C25.142 28.7583 26.7253 27.7124 28.1837 26.4478C29.6628 25.1833 30.9753 23.7291 32.142 22.0853C33.3087 20.4416 34.1837 18.5853 34.7462 16.4812C35.3087 14.377 35.4649 12.2312 35.1962 10.0228C34.8462 7.10617 33.9045 4.77283 32.3712 3.04367C30.8392 1.29228 28.9309 0.416584 26.6462 0.416584C24.6357 0.416584 22.967 1.02075 21.6462 2.24575C20.3392 3.44575 19.6864 5.09019 19.6878 7.17908L19.6837 7.17283ZM0.675327 7.17283C0.675327 9.00617 1.1545 10.5457 2.11283 11.7916C2.79338 12.6666 3.71491 13.2339 4.87741 13.4937C6.04408 13.7506 7.11352 13.7659 8.08574 13.5395C8.41908 15.4978 7.89824 17.602 6.51908 19.8312C5.14408 22.0395 3.36908 23.7062 1.19408 24.8312L4.4795 29.5833C6.14755 28.7583 7.717 27.7131 9.18783 26.4478C10.6803 25.1644 12.0059 23.6988 13.1337 22.0853C14.292 20.4395 15.1545 18.5853 15.717 16.4812C16.2884 14.3786 16.442 12.1845 16.1691 10.0228C15.8232 7.10617 14.8857 4.77283 13.3566 3.04367C11.8288 1.30478 9.92394 0.435335 7.64199 0.435335C5.62811 0.432556 3.96005 1.04158 2.63783 2.26241C1.33088 3.46242 0.676716 5.10686 0.675327 7.19575V7.17283Z" fill="#6E9419" />
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="testimonial2-boxarea">
            <ul>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
            </ul>
            <div class="space16"></div>
            <p>“The team was not only knowledgeable but also genuinely invested our success. I can't recommend them enough!' These testimonials reflect our commitment to delivering exceptional results & building.”</p>
            <div class="space20"></div>
            <div class="author-images-area">
              <div class="images">
                <div class="img1">
                  <img src="/img/all-images/testimonial/testi-img3.png" alt="" />
                </div>
                <div class="text">
                  <a href="team">Homer Kilback</a>
                  <div class="space10"></div>
                  <p>Entrepreneur</p>
                </div>
              </div>
              <div class="quoto">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="30" viewBox="0 0 36 30" fill="none">
                  <path d="M19.6837 7.17283C19.6837 9.00617 20.1628 10.5457 21.1212 11.7916C21.8003 12.6499 22.7219 13.2138 23.8857 13.4833C25.0316 13.7499 26.1149 13.7687 27.0941 13.5416C27.4274 15.5208 26.8857 17.6166 25.5107 19.8374C24.133 22.0569 22.3566 23.7256 20.1816 24.8437L23.4753 29.5833C25.142 28.7583 26.7253 27.7124 28.1837 26.4478C29.6628 25.1833 30.9753 23.7291 32.142 22.0853C33.3087 20.4416 34.1837 18.5853 34.7462 16.4812C35.3087 14.377 35.4649 12.2312 35.1962 10.0228C34.8462 7.10617 33.9045 4.77283 32.3712 3.04367C30.8392 1.29228 28.9309 0.416584 26.6462 0.416584C24.6357 0.416584 22.967 1.02075 21.6462 2.24575C20.3392 3.44575 19.6864 5.09019 19.6878 7.17908L19.6837 7.17283ZM0.675327 7.17283C0.675327 9.00617 1.1545 10.5457 2.11283 11.7916C2.79338 12.6666 3.71491 13.2339 4.87741 13.4937C6.04408 13.7506 7.11352 13.7659 8.08574 13.5395C8.41908 15.4978 7.89824 17.602 6.51908 19.8312C5.14408 22.0395 3.36908 23.7062 1.19408 24.8312L4.4795 29.5833C6.14755 28.7583 7.717 27.7131 9.18783 26.4478C10.6803 25.1644 12.0059 23.6988 13.1337 22.0853C14.292 20.4395 15.1545 18.5853 15.717 16.4812C16.2884 14.3786 16.442 12.1845 16.1691 10.0228C15.8232 7.10617 14.8857 4.77283 13.3566 3.04367C11.8288 1.30478 9.92394 0.435335 7.64199 0.435335C5.62811 0.432556 3.96005 1.04158 2.63783 2.26241C1.33088 3.46242 0.676716 5.10686 0.675327 7.19575V7.17283Z" fill="#6E9419" />
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="testimonial2-boxarea">
            <ul>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
            </ul>
            <div class="space16"></div>
            <p>“Working with Finazze has been game changer for our business. Their team provided invaluable financial insights and tailored strategies that helped us streamline our operations and boost.”</p>
            <div class="space20"></div>
            <div class="author-images-area">
              <div class="images">
                <div class="img1">
                  <img src="/img/all-images/testimonial/testimonial-img1.png" alt="" />
                </div>
                <div class="text">
                  <a href="team">Gerard Becker</a>
                  <div class="space10"></div>
                  <p>Businessman</p>
                </div>
              </div>
              <div class="quoto">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="30" viewBox="0 0 36 30" fill="none">
                  <path d="M19.6837 7.17283C19.6837 9.00617 20.1628 10.5457 21.1212 11.7916C21.8003 12.6499 22.7219 13.2138 23.8857 13.4833C25.0316 13.7499 26.1149 13.7687 27.0941 13.5416C27.4274 15.5208 26.8857 17.6166 25.5107 19.8374C24.133 22.0569 22.3566 23.7256 20.1816 24.8437L23.4753 29.5833C25.142 28.7583 26.7253 27.7124 28.1837 26.4478C29.6628 25.1833 30.9753 23.7291 32.142 22.0853C33.3087 20.4416 34.1837 18.5853 34.7462 16.4812C35.3087 14.377 35.4649 12.2312 35.1962 10.0228C34.8462 7.10617 33.9045 4.77283 32.3712 3.04367C30.8392 1.29228 28.9309 0.416584 26.6462 0.416584C24.6357 0.416584 22.967 1.02075 21.6462 2.24575C20.3392 3.44575 19.6864 5.09019 19.6878 7.17908L19.6837 7.17283ZM0.675327 7.17283C0.675327 9.00617 1.1545 10.5457 2.11283 11.7916C2.79338 12.6666 3.71491 13.2339 4.87741 13.4937C6.04408 13.7506 7.11352 13.7659 8.08574 13.5395C8.41908 15.4978 7.89824 17.602 6.51908 19.8312C5.14408 22.0395 3.36908 23.7062 1.19408 24.8312L4.4795 29.5833C6.14755 28.7583 7.717 27.7131 9.18783 26.4478C10.6803 25.1644 12.0059 23.6988 13.1337 22.0853C14.292 20.4395 15.1545 18.5853 15.717 16.4812C16.2884 14.3786 16.442 12.1845 16.1691 10.0228C15.8232 7.10617 14.8857 4.77283 13.3566 3.04367C11.8288 1.30478 9.92394 0.435335 7.64199 0.435335C5.62811 0.432556 3.96005 1.04158 2.63783 2.26241C1.33088 3.46242 0.676716 5.10686 0.675327 7.19575V7.17283Z" fill="#6E9419" />
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="testimonial2-boxarea">
            <ul>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
            </ul>
            <div class="space16"></div>
            <p>“Their expertise in financial planning & risk management gave us confidence to make informed decisions significantly improved our bottom line. We grateful for their support & highly recommend.”</p>
            <div class="space20"></div>
            <div class="author-images-area">
              <div class="images">
                <div class="img1">
                  <img src="/img/all-images/testimonial/testimonial-img2.png" alt="" />
                </div>
                <div class="text">
                  <a href="team">Ms. Phil Rath</a>
                  <div class="space10"></div>
                  <p>Freelancer</p>
                </div>
              </div>
              <div class="quoto">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="30" viewBox="0 0 36 30" fill="none">
                  <path d="M19.6837 7.17283C19.6837 9.00617 20.1628 10.5457 21.1212 11.7916C21.8003 12.6499 22.7219 13.2138 23.8857 13.4833C25.0316 13.7499 26.1149 13.7687 27.0941 13.5416C27.4274 15.5208 26.8857 17.6166 25.5107 19.8374C24.133 22.0569 22.3566 23.7256 20.1816 24.8437L23.4753 29.5833C25.142 28.7583 26.7253 27.7124 28.1837 26.4478C29.6628 25.1833 30.9753 23.7291 32.142 22.0853C33.3087 20.4416 34.1837 18.5853 34.7462 16.4812C35.3087 14.377 35.4649 12.2312 35.1962 10.0228C34.8462 7.10617 33.9045 4.77283 32.3712 3.04367C30.8392 1.29228 28.9309 0.416584 26.6462 0.416584C24.6357 0.416584 22.967 1.02075 21.6462 2.24575C20.3392 3.44575 19.6864 5.09019 19.6878 7.17908L19.6837 7.17283ZM0.675327 7.17283C0.675327 9.00617 1.1545 10.5457 2.11283 11.7916C2.79338 12.6666 3.71491 13.2339 4.87741 13.4937C6.04408 13.7506 7.11352 13.7659 8.08574 13.5395C8.41908 15.4978 7.89824 17.602 6.51908 19.8312C5.14408 22.0395 3.36908 23.7062 1.19408 24.8312L4.4795 29.5833C6.14755 28.7583 7.717 27.7131 9.18783 26.4478C10.6803 25.1644 12.0059 23.6988 13.1337 22.0853C14.292 20.4395 15.1545 18.5853 15.717 16.4812C16.2884 14.3786 16.442 12.1845 16.1691 10.0228C15.8232 7.10617 14.8857 4.77283 13.3566 3.04367C11.8288 1.30478 9.92394 0.435335 7.64199 0.435335C5.62811 0.432556 3.96005 1.04158 2.63783 2.26241C1.33088 3.46242 0.676716 5.10686 0.675327 7.19575V7.17283Z" fill="#6E9419" />
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="testimonial2-boxarea">
            <ul>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
            </ul>
            <div class="space16"></div>
            <p>“Partnering with Finazze transformed the way we manage our finances. Their professional and proactive approach allowed to navigate complex financial challenges with ease from strategic.”</p>
            <div class="space20"></div>
            <div class="author-images-area">
              <div class="images">
                <div class="img1">
                  <img src="/img/all-images/testimonial/testimonial-img3.png" alt="" />
                </div>
                <div class="text">
                  <a href="team">Don Cummings</a>
                  <div class="space10"></div>
                  <p>Entrepreneur</p>
                </div>
              </div>
              <div class="quoto">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="30" viewBox="0 0 36 30" fill="none">
                  <path d="M19.6837 7.17283C19.6837 9.00617 20.1628 10.5457 21.1212 11.7916C21.8003 12.6499 22.7219 13.2138 23.8857 13.4833C25.0316 13.7499 26.1149 13.7687 27.0941 13.5416C27.4274 15.5208 26.8857 17.6166 25.5107 19.8374C24.133 22.0569 22.3566 23.7256 20.1816 24.8437L23.4753 29.5833C25.142 28.7583 26.7253 27.7124 28.1837 26.4478C29.6628 25.1833 30.9753 23.7291 32.142 22.0853C33.3087 20.4416 34.1837 18.5853 34.7462 16.4812C35.3087 14.377 35.4649 12.2312 35.1962 10.0228C34.8462 7.10617 33.9045 4.77283 32.3712 3.04367C30.8392 1.29228 28.9309 0.416584 26.6462 0.416584C24.6357 0.416584 22.967 1.02075 21.6462 2.24575C20.3392 3.44575 19.6864 5.09019 19.6878 7.17908L19.6837 7.17283ZM0.675327 7.17283C0.675327 9.00617 1.1545 10.5457 2.11283 11.7916C2.79338 12.6666 3.71491 13.2339 4.87741 13.4937C6.04408 13.7506 7.11352 13.7659 8.08574 13.5395C8.41908 15.4978 7.89824 17.602 6.51908 19.8312C5.14408 22.0395 3.36908 23.7062 1.19408 24.8312L4.4795 29.5833C6.14755 28.7583 7.717 27.7131 9.18783 26.4478C10.6803 25.1644 12.0059 23.6988 13.1337 22.0853C14.292 20.4395 15.1545 18.5853 15.717 16.4812C16.2884 14.3786 16.442 12.1845 16.1691 10.0228C15.8232 7.10617 14.8857 4.77283 13.3566 3.04367C11.8288 1.30478 9.92394 0.435335 7.64199 0.435335C5.62811 0.432556 3.96005 1.04158 2.63783 2.26241C1.33088 3.46242 0.676716 5.10686 0.675327 7.19575V7.17283Z" fill="#6E9419" />
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="testimonial2-boxarea">
            <ul>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
            </ul>
            <div class="space16"></div>
            <p>“We seen remarkable improvements in both our cash flow management & overall financial health. We couldn’t happier with the results and highly recommend them to any business.”</p>
            <div class="space20"></div>
            <div class="author-images-area">
              <div class="images">
                <div class="img1">
                  <img src="/img/all-images/testimonial/testi-img4.png" alt="" />
                </div>
                <div class="text">
                  <a href="team">Robin Predovic</a>
                  <div class="space10"></div>
                  <p>Businessman</p>
                </div>
              </div>
              <div class="quoto">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="30" viewBox="0 0 36 30" fill="none">
                  <path d="M19.6837 7.17283C19.6837 9.00617 20.1628 10.5457 21.1212 11.7916C21.8003 12.6499 22.7219 13.2138 23.8857 13.4833C25.0316 13.7499 26.1149 13.7687 27.0941 13.5416C27.4274 15.5208 26.8857 17.6166 25.5107 19.8374C24.133 22.0569 22.3566 23.7256 20.1816 24.8437L23.4753 29.5833C25.142 28.7583 26.7253 27.7124 28.1837 26.4478C29.6628 25.1833 30.9753 23.7291 32.142 22.0853C33.3087 20.4416 34.1837 18.5853 34.7462 16.4812C35.3087 14.377 35.4649 12.2312 35.1962 10.0228C34.8462 7.10617 33.9045 4.77283 32.3712 3.04367C30.8392 1.29228 28.9309 0.416584 26.6462 0.416584C24.6357 0.416584 22.967 1.02075 21.6462 2.24575C20.3392 3.44575 19.6864 5.09019 19.6878 7.17908L19.6837 7.17283ZM0.675327 7.17283C0.675327 9.00617 1.1545 10.5457 2.11283 11.7916C2.79338 12.6666 3.71491 13.2339 4.87741 13.4937C6.04408 13.7506 7.11352 13.7659 8.08574 13.5395C8.41908 15.4978 7.89824 17.602 6.51908 19.8312C5.14408 22.0395 3.36908 23.7062 1.19408 24.8312L4.4795 29.5833C6.14755 28.7583 7.717 27.7131 9.18783 26.4478C10.6803 25.1644 12.0059 23.6988 13.1337 22.0853C14.292 20.4395 15.1545 18.5853 15.717 16.4812C16.2884 14.3786 16.442 12.1845 16.1691 10.0228C15.8232 7.10617 14.8857 4.77283 13.3566 3.04367C11.8288 1.30478 9.92394 0.435335 7.64199 0.435335C5.62811 0.432556 3.96005 1.04158 2.63783 2.26241C1.33088 3.46242 0.676716 5.10686 0.675327 7.19575V7.17283Z" fill="#6E9419" />
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="testimonial2-boxarea">
            <ul>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
            </ul>
            <div class="space16"></div>
            <p>“Their personalized approach attention to detail helped us some of our toughest financial hurdles. They not only provided strategies also ensured we understood every step of the process.”</p>
            <div class="space20"></div>
            <div class="author-images-area">
              <div class="images">
                <div class="img1">
                  <img src="/img/all-images/testimonial/testi-img5.png" alt="" />
                </div>
                <div class="text">
                  <a href="team">Fannie Kohler</a>
                  <div class="space10"></div>
                  <p>Freelancer</p>
                </div>
              </div>
              <div class="quoto">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="30" viewBox="0 0 36 30" fill="none">
                  <path d="M19.6837 7.17283C19.6837 9.00617 20.1628 10.5457 21.1212 11.7916C21.8003 12.6499 22.7219 13.2138 23.8857 13.4833C25.0316 13.7499 26.1149 13.7687 27.0941 13.5416C27.4274 15.5208 26.8857 17.6166 25.5107 19.8374C24.133 22.0569 22.3566 23.7256 20.1816 24.8437L23.4753 29.5833C25.142 28.7583 26.7253 27.7124 28.1837 26.4478C29.6628 25.1833 30.9753 23.7291 32.142 22.0853C33.3087 20.4416 34.1837 18.5853 34.7462 16.4812C35.3087 14.377 35.4649 12.2312 35.1962 10.0228C34.8462 7.10617 33.9045 4.77283 32.3712 3.04367C30.8392 1.29228 28.9309 0.416584 26.6462 0.416584C24.6357 0.416584 22.967 1.02075 21.6462 2.24575C20.3392 3.44575 19.6864 5.09019 19.6878 7.17908L19.6837 7.17283ZM0.675327 7.17283C0.675327 9.00617 1.1545 10.5457 2.11283 11.7916C2.79338 12.6666 3.71491 13.2339 4.87741 13.4937C6.04408 13.7506 7.11352 13.7659 8.08574 13.5395C8.41908 15.4978 7.89824 17.602 6.51908 19.8312C5.14408 22.0395 3.36908 23.7062 1.19408 24.8312L4.4795 29.5833C6.14755 28.7583 7.717 27.7131 9.18783 26.4478C10.6803 25.1644 12.0059 23.6988 13.1337 22.0853C14.292 20.4395 15.1545 18.5853 15.717 16.4812C16.2884 14.3786 16.442 12.1845 16.1691 10.0228C15.8232 7.10617 14.8857 4.77283 13.3566 3.04367C11.8288 1.30478 9.92394 0.435335 7.64199 0.435335C5.62811 0.432556 3.96005 1.04158 2.63783 2.26241C1.33088 3.46242 0.676716 5.10686 0.675327 7.19575V7.17283Z" fill="#6E9419" />
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="testimonial2-boxarea">
            <ul>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
              <li>
                <i class="fa-solid fa-star"></i>
              </li>
            </ul>
            <div class="space16"></div>
            <p>“Thanks to their guidance, we've seen improved efficiency inbreak profitability, and a much clearer financial roadmap. Their dedication our success has made them a trusted partner, and we highly.”</p>
            <div class="space20"></div>
            <div class="author-images-area">
              <div class="images">
                <div class="img1">
                  <img src="/img/all-images/testimonial/testi-img6.png" alt="" />
                </div>
                <div class="text">
                  <a href="team">Ed Hauck</a>
                  <div class="space10"></div>
                  <p>Entrepreneur</p>
                </div>
              </div>
              <div class="quoto">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="30" viewBox="0 0 36 30" fill="none">
                  <path d="M19.6837 7.17283C19.6837 9.00617 20.1628 10.5457 21.1212 11.7916C21.8003 12.6499 22.7219 13.2138 23.8857 13.4833C25.0316 13.7499 26.1149 13.7687 27.0941 13.5416C27.4274 15.5208 26.8857 17.6166 25.5107 19.8374C24.133 22.0569 22.3566 23.7256 20.1816 24.8437L23.4753 29.5833C25.142 28.7583 26.7253 27.7124 28.1837 26.4478C29.6628 25.1833 30.9753 23.7291 32.142 22.0853C33.3087 20.4416 34.1837 18.5853 34.7462 16.4812C35.3087 14.377 35.4649 12.2312 35.1962 10.0228C34.8462 7.10617 33.9045 4.77283 32.3712 3.04367C30.8392 1.29228 28.9309 0.416584 26.6462 0.416584C24.6357 0.416584 22.967 1.02075 21.6462 2.24575C20.3392 3.44575 19.6864 5.09019 19.6878 7.17908L19.6837 7.17283ZM0.675327 7.17283C0.675327 9.00617 1.1545 10.5457 2.11283 11.7916C2.79338 12.6666 3.71491 13.2339 4.87741 13.4937C6.04408 13.7506 7.11352 13.7659 8.08574 13.5395C8.41908 15.4978 7.89824 17.602 6.51908 19.8312C5.14408 22.0395 3.36908 23.7062 1.19408 24.8312L4.4795 29.5833C6.14755 28.7583 7.717 27.7131 9.18783 26.4478C10.6803 25.1644 12.0059 23.6988 13.1337 22.0853C14.292 20.4395 15.1545 18.5853 15.717 16.4812C16.2884 14.3786 16.442 12.1845 16.1691 10.0228C15.8232 7.10617 14.8857 4.77283 13.3566 3.04367C11.8288 1.30478 9.92394 0.435335 7.64199 0.435335C5.62811 0.432556 3.96005 1.04158 2.63783 2.26241C1.33088 3.46242 0.676716 5.10686 0.675327 7.19575V7.17283Z" fill="#6E9419" />
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="space18"></div>
          <div class="pagination-area">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous"><i class="fa-solid fa-angle-left"></i></a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">...</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">12</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next"><i class="fa-solid fa-angle-right"></i></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== TESTIMONIAL AREA ENDS ======= -->
<%- contentFor('extra_javascript') %>
